.favorite:hover {
  cursor: pointer;
  font-variation-settings: "FILL" 0;
}
.favorite.is-favorite {
  font-variation-settings: "FILL" 1;
}
.favorite-card {
  display: flex;
  flex-direction: column;
  width: 13.9rem;
}
.favorite__inner {
  display: flex;
}
.favorite__inner.center-flex.text-size {
  padding: 8px;
}
.favorite-wrapper {
  flex-wrap: wrap;
  flex-basis: 20rem;
  gap: 1rem;
}

/* === Tablet (≤768px) === */
@media (max-width: 768px) {
  .btn {
    padding: 8px 18px;
  }
  .favorite-card {
    width: 20rem;
  }
}
/* === Mobile (≤425px) === */
@media (max-width: 425px) {
  .favorite__inner.center-flex.text-size {
    font-size: 0.8rem;
  }
  .favorite__inner.center-flex.text-size .material-symbols-outlined {
    font-size: 1rem;
  }
}
